.order-card {
    background-color: #1C1C21;
    border-radius: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04), 0 0 2px rgba(0, 0, 0, 0.06), 0 0 1px rgba(0, 0, 0, 0.04);
    display: flex;
    flex-direction: column;
    width: 40vw;
    text-decoration: none;
    color: inherit;
}

.order-card__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.order-card__header-number {

}

.order-card__header-date {

}

.order-card__title {

}

.order-card__main-name {

}

.order-card__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.order-card__footer-list {
    display: flex;
    flex-direction: row;
    height: 64px;
    width: 70%;
    overflow: hidden;
    position: relative;
}

.order-card__footer-price {
    display: flex;
    flex-direction: row;

}

.order-card__footer-list-img-wrapper {
    display: flex;
    width: 64px;
    height: 64px;
    min-width: 64px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    background: linear-gradient(to right, #801AB2, #4C4CFF);
}

.order-card__footer-list-img-wrapper + .order-card__footer-list-img-wrapper {
    margin-left: -18px;
}


.order-card__footer-list-img-wrapper::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background-color: #131316;
    pointer-events: none;
    border-radius: 50%;
}

.order-card__footer-list-img-wrapper:nth-child(1) {
    z-index: 6;
}

.order-card__footer-list-img-wrapper:nth-child(2) {
    z-index: 5;
}

.order-card__footer-list-img-wrapper:nth-child(3) {
    z-index: 4;
}

.order-card__footer-list-img-wrapper:nth-child(4) {
    z-index: 3;
}

.order-card__footer-list-img-wrapper:nth-child(5) {
    z-index: 1;
}

.order-card__footer-list-img-text {
    z-index: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.order-card__footer-list-img {
    max-height: 56px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
