.order-detail-card {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: inherit;
}

.order-detail-card__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.order-detail-card__header-number {
    align-self: center;
}

.order-detail-card__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.order-detail-card__main {
    height: 100%;
}

.order-detail-card__main-list {
    width: 100%;
    height: 366px;
    overflow: auto;
}

.order-detail-card__main-list::-webkit-scrollbar {
    width: 12px;
}

.order-detail-card__main-list::-webkit-scrollbar-track {
    background: #2f2f37;
}

.order-detail-card__main-list::-webkit-scrollbar-thumb {
    background: #8585ad;
    border: 3px solid #2f2f37;
    border-radius: 6px;
}

.order-detail-card__footer-price {
    display: flex;
    flex-direction: row;
}

.order-detail-card__header-state {
    color: #00CCCC;
}

.order-detail-card__main-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.order-detail-card__main-row-price {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.order-detail-card__main-row-img {
    width: 112px;
    height: 56px;
}

.order-detail-container {

}