.order-detail-card {
    display: flex;
    flex-direction: column;
    width: 844px;
    text-decoration: none;
    color: inherit;
}

.order-detail-card__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.order-detail-card__header-number {
    align-self: center;
}

.order-detail-card__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.order-detail-card__footer-list {
    display: flex;
    flex-direction: row;
    height: 56px;
    width: 112px;
}

.order-detail-card__footer-price {
    display: flex;
    flex-direction: row;

}

.order-detail-card__header-state {
    color: #00CCCC;
}
