.main-container {
    display: flex;
    align-items: start;
}

.profile-input {
    width: 400px;
}

.profile-nav {
    display: flex;
    flex-direction: column;
    width: 320px;
}

.profile-nav-link {
    text-decoration: none;
    color: var(--text-inactive-color);
}

.active-link {
    text-decoration: underline;
}
