.order-list {
    overflow: auto;
    height: 716px;
    width: 100%;
}

.order-list::-webkit-scrollbar {
    width: 12px;
}

.order-list::-webkit-scrollbar-track {
    background: #2f2f37;
}

.order-list::-webkit-scrollbar-thumb {
    background: #8585ad;
    border: 3px solid #2f2f37;
    border-radius: 6px;
}
